.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* *{margin: 0;
  padding: 0;
  
  } */

 .text-primary{
  color:#F86D0A ;
 }
 header{
  max-width: 1700px;
  max-height: 1500px;
 }
 .header{
  background-image:url(../images/developer.png) ,url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right ;
 }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    margin-top: 30px;
  }
  
  .nav-title{
  font-weight: 800;
  font-size: 40px;
  }
  nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* margin-bottom: 30px; */
  }
  nav ul li{
    list-style: none;
    /* justify-content: center; */
   
  }
  ul {

  }
 .btn-primary{
  color: #fff ;
  background-color:#F86D0A;
  padding:8px 15px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;

  
 }
 .dark2{
  color: #181818;
  font-size: 20px;
 }
 .banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 200px;
 }
 .banner-container{
  max-width: 540px;
 margin-top: 280px;
 }
.banner-title{
 
}
.banner-intro{
  font-size: 45px;
 font-weight: 600;
}
.banner-discription{
  color: #35424C;

}
main{
  max-width: 1140px;
  margin: 0 auto;
}
.parent{
height: 400px;
  
background: #FFF8F3;
margin-top: 100px;
margin-left: 100px;


}
.parent1{
  
  width: 80%;
  height: 70%;
  margin:50px 50px 70px 120px;
 text-align: center;
 padding-top: 100px;
 
 
}
.secondary-bg{
  display: flex;
   
}
.about{
 display: inline;
 text-align: center;
}
.list-items{
  display: flex;
justify-content: space-around;
}