.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{margin: 0;
  padding: 0;
  
  }
 .text-primary{
  color:#F86D0A ;
 }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    margin-top: 30px;
  }
  .pagep{

    /* text-decoration: none; */
    
    

  }
  .nav-title{
  font-weight: 800;
  font-size: 40px;
  }
  nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* margin-bottom: 30px; */
  }
  nav ul li{
    list-style: none;
    /* justify-content: center; */
   
  }
  ul {

  }
 .btn-primary{
  color: #fff ;
  background-color:#F86D0A;
  padding:8px 15px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;

  
 }
 .dark2{
  color: #181818;
  font-size: 20px;
 }
  ul li .btn{}
  
  
  